<h1>Let's do a word count y'all!<h1>

<form action='/'>
  <div class="form-group">
    <label for="test_word">Enter the word you want to count<label>
      <input type="text" id="test_word" name="test_word" placeholder="ex: dog"
      class="form-control">
  </div>

</form>
